.settings{
    display: flex;
}
.settingswrapper{
    flex: 9;
    padding: 20px;
}
.settingstitle{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.settingsupdatetitle{
    font-size: 30px;
    margin-bottom: 20px;
    color: lightseagreen;
    
}
.settingsdeletetitle{
    color: red;
    font-size: 12px;
    cursor: pointer;
}

.settingsform{
    display: flex;
    flex-direction: column;

}
.settingsprofilepicture{
    display: flex;
    align-items: center;
    margin-top: 10px 0;
}
.settingsprofilepicture > img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.settingsprofilepicicon{
    width: 25px;
    height: 24px;
    border-radius: 50%;
    color: white;
    background-color: lightcoral;
    display: flex ;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsform > label{
    font-size: 20px;
    margin-top: 20px;

}
.settingsform > input{
    color: grey;
    margin: 10px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
}
.settingssubmit{
    width: 150px;
    align-self: center;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: teal;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    
}