.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  background-size: cover;
}
.logintitle {
  font-size: 50px;
}
.loginform {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 18px;
  padding: 4%;
  width: 20vw;
}

.loginform > input {
  margin: 10px 0;
  /* width: 100%; */
  padding: 10px;
  /* background-color: white; */
  border: 1px solid gray;
  border-radius: 10px;
  /* border: none; */
}

.loginbutton {
  margin-top: 20px;
  cursor: pointer;
  background-color: tomato;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 10px;
}
.loginbutton:disabled {
  cursor: not-allowed;
  background-color: red;
}
.loginregisterbutton {
  background-color: teal;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  margin-top: 20px;
  border-radius: 15px;
}
